<div class="swipe__container">
  <ng-container *ngIf="showVideo; else videoPreview">
    <video #swipeVideo class="swipe" controls loop [muted]="false">
      <source [src]="formUrl(swipeVideoItem.videoUrlPath)" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </ng-container>

  <ng-template #videoPreview>
    <img
      class="swipe"
      [src]="formUrl(swipeVideoItem.thumbnailUrlPath)"
      alt="video thumbnail"
    />
  </ng-template>
  <div class="statistic">
    <p class="statistic__info-like">
      <fa-icon
        (click)="likeVideo()"
        class="statistic__icon-like"
        [ngClass]="{ 'statistic__icon-like--active': isLiked }"
        [icon]="faLike"
      ></fa-icon>
      <span class="text__caption text-white">{{ getLikes() }}</span>
    </p>
    <p class="statistic__info-like">
      <fa-icon
        (click)="dislikeVideo()"
        class="statistic__icon-like"
        [ngClass]="{ 'statistic__icon-like--active': isDisliked }"
        [icon]="faDislike"
      ></fa-icon>
      <span class="text__caption text-white">{{ getDislikes() }}</span>
    </p>
    <p class="statistic__info">
      <fa-icon class="statistic__icon" [icon]="faViews"></fa-icon>
      <span class="text__caption text-white">{{ getViews() }}</span>
    </p>
    <p class="statistic__info">
      <fa-icon class="statistic__icon" [icon]="faComments"></fa-icon>
      <span class="text__caption text-white">0</span>
    </p>
  </div>
</div>
