<ng-container
  *ngIf="
    isSubmitted ||
    (formName.controls[fieldName].invalid &&
      (formName.controls[fieldName].dirty ||
        formName.controls[fieldName].touched))
  "
  class="alert"
>
  <ng-container *ngIf="formName.controls[fieldName].errors">
    <ul class="error text__caption">
      <li class="error__field">{{ fieldName }}:</li>
      <ul class="error__message-container">
        <li class="error__message" *ngFor="let message of generateMessage()">
          {{ message }}
        </li>
      </ul>
    </ul>
  </ng-container>
</ng-container>
