<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="burger">
  <fa-icon
    class="burger__icon fa-xl"
    [icon]="faBars"
    (click)="toggleMenu()"
  ></fa-icon>
</div>

<div class="navigation" [ngClass]="{ 'navigation--open': isMenuOpen }">
  <ul class="navigation__list text__body">
    <div>
      <li
        class="navigation__item"
        [routerLink]="swipePath"
        routerLinkActive="navigation__item--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span>Swipes</span>
      </li>
      <li
        class="navigation__item"
        [routerLink]="profilePath"
        routerLinkActive="navigation__item--active"
      >
        <span> Profile </span>
      </li>
    </div>
    <li (click)="logoutHandler()" class="navigation__item">
      <span>Log out</span>
    </li>
  </ul>
</div>
