<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<input
  type="file"
  class="file__input"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<div class="file__container">
  <div class="file__upload-circle" (click)="fileUpload.click()"></div>
  <div class="file__side-container">
    <p class="text__body">{{ fileName || 'Choose your avatar' }}</p>
    <div class="file__upload-area"></div>
  </div>
</div>
